USE [master]
GO
/****** Objeto: Database [proyectos_web_avanzada] Fecha de script: 06/06/2026 16:13:39 ******/
CREATE DATABASE [proyectos_web_avanzada]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'proyectos_web_avanzada', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\proyectos_web_avanzada.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'proyectos_web_avanzada_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\proyectos_web_avanzada_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [proyectos_web_avanzada].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [proyectos_web_avanzada]
GO
/****** Objeto: User [gongoralucas] Fecha de script: 06/06/2026 16:13:40 ******/
CREATE USER [gongoralucas] FOR LOGIN [gongoralucas] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Objeto: Table [dbo].[GEPRY_PROYEC] Fecha de script: 06/06/2026 16:13:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEPRY_PROYEC](
	[GEPRY_CODIGO] [char](4) NOT NULL,
	[PEDEP_CODIGO] [char](3) NOT NULL,
	[GEPRY_NOMBRE] [varchar](50) NOT NULL,
	[GEPRY_DESCRI] [varchar](50) NOT NULL,
	[GEPRY_NUMERO] [int] NOT NULL,
 CONSTRAINT [PK_GEPRY_PROYEC] PRIMARY KEY CLUSTERED 
(
	[GEPRY_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[GR_GEPRY_PEEMP] Fecha de script: 06/06/2026 16:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GR_GEPRY_PEEMP](
	[PEEMP_CODIGO] [char](6) NOT NULL,
	[GEPRY_CODIGO] [char](4) NOT NULL,
 CONSTRAINT [PK_GR_GEPRY_PEEMP] PRIMARY KEY CLUSTERED 
(
	[PEEMP_CODIGO] ASC,
	[GEPRY_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PECAR_CARGO] Fecha de script: 06/06/2026 16:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PECAR_CARGO](
	[PEDEP_CODIGO] [char](3) NOT NULL,
	[PECAR_CODIGO] [char](3) NOT NULL,
	[PECAR_DESCRI] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PECAR_CARGO] PRIMARY KEY CLUSTERED 
(
	[PEDEP_CODIGO] ASC,
	[PECAR_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PEDEP_DEPAR] Fecha de script: 06/06/2026 16:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDEP_DEPAR](
	[PEDEP_CODIGO] [char](3) NOT NULL,
	[PEDEP_DESCRIP] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PEDEP_DEPAR] PRIMARY KEY CLUSTERED 
(
	[PEDEP_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PEEMP_EMPLE] Fecha de script: 06/06/2026 16:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEEMP_EMPLE](
	[PEEMP_CODIGO] [char](6) NOT NULL,
	[PESEX_CODIGO] [char](1) NOT NULL,
	[PEESC_CODIGO] [char](1) NULL,
	[PEDEP_CODIGO] [char](3) NOT NULL,
	[PECAR_CODIGO] [char](3) NOT NULL,
	[PEE_PEEMP_CODIGO] [char](6) NULL,
	[PEEMP_APELLI] [varchar](50) NOT NULL,
	[PEEMP_NOMBRE] [varchar](50) NOT NULL,
	[PEEMP_DIREC] [varchar](200) NOT NULL,
	[PEEMP_FECNAC] [datetime] NOT NULL,
	[PEEMP_FECSAL] [datetime] NULL,
	[PEEMP_TELEF] [varchar](15) NOT NULL,
	[PEEMP_EMAIL] [varchar](100) NOT NULL,
	[PEEMP_CEDULA] [varchar](10) NOT NULL,
	[PEEMP_SALAR] [numeric](18, 2) NOT NULL,
	[PEEMP_FOTO] [varchar](250) NULL,
 CONSTRAINT [PK_PEEMP_EMPLE] PRIMARY KEY CLUSTERED 
(
	[PEEMP_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PEEMP_CEDULA] UNIQUE NONCLUSTERED 
(
	[PEEMP_CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PEEMP_EMAIL] UNIQUE NONCLUSTERED 
(
	[PEEMP_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PEESC_ESTCIV] Fecha de script: 06/06/2026 16:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEESC_ESTCIV](
	[PEESC_CODIGO] [char](1) NOT NULL,
	[PEESC_DESCRI] [char](50) NOT NULL,
 CONSTRAINT [PK_PEESC_ESTCIV] PRIMARY KEY CLUSTERED 
(
	[PEESC_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PEFAE_FAMILIAR] Fecha de script: 06/06/2026 16:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEFAE_FAMILIAR](
	[PEFAE_NOMBRES] [varchar](50) NOT NULL,
	[PEFAE_FECHAN] [datetime] NOT NULL,
	[PEFAE_PARENT] [varchar](50) NOT NULL,
	[PEFAE_APELL] [varchar](50) NOT NULL,
	[PEFAE_ID] [bigint] NOT NULL,
	[PEEMP_CODIGO] [char](6) NULL,
 CONSTRAINT [PK_PEFAE_FAMILIAR] PRIMARY KEY CLUSTERED 
(
	[PEFAE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PEHRT_HORAS] Fecha de script: 06/06/2026 16:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEHRT_HORAS](
	[PEHRT_ID] [bigint] NOT NULL,
	[PEEMP_CODIGO] [char](6) NOT NULL,
	[PEHRT_HRINIC] [datetime] NOT NULL,
	[PEHRT_HRFIN] [datetime] NOT NULL,
 CONSTRAINT [PK_PEHRT_HORAS] PRIMARY KEY CLUSTERED 
(
	[PEHRT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PESEX_SEXO] Fecha de script: 06/06/2026 16:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PESEX_SEXO](
	[PESEX_CODIGO] [char](1) NOT NULL,
	[PESEX_DESCRI] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PESEX_SEXO] PRIMARY KEY CLUSTERED 
(
	[PESEX_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RELATIONSHIP_19] Fecha de script: 06/06/2026 16:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RELATIONSHIP_19](
	[PEDEP_CODIGO] [char](3) NOT NULL,
	[PEEMP_CODIGO] [char](6) NOT NULL,
	[FECHA_INICIO_DIRECCION] [datetime] NOT NULL,
 CONSTRAINT [PK_RELATIONSHIP_19] PRIMARY KEY CLUSTERED 
(
	[PEDEP_CODIGO] ASC,
	[PEEMP_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[XEEST_ESTAD] Fecha de script: 06/06/2026 16:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XEEST_ESTAD](
	[XEEST_CODIGO] [char](1) NOT NULL,
	[XEEST_DESCRI] [varchar](50) NOT NULL,
 CONSTRAINT [PK_XEEST_ESTAD] PRIMARY KEY CLUSTERED 
(
	[XEEST_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[XEOPC_OPCIO] Fecha de script: 06/06/2026 16:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XEOPC_OPCIO](
	[XEOPC_CODIGO] [char](3) NOT NULL,
	[XESIS_CODIGO] [char](1) NOT NULL,
	[XEOPC_DESCRI] [varchar](100) NOT NULL,
 CONSTRAINT [PK_XEOPC_OPCIO] PRIMARY KEY CLUSTERED 
(
	[XEOPC_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[XEOXP_OPCPE] Fecha de script: 06/06/2026 16:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XEOXP_OPCPE](
	[XEOPC_CODIGO] [char](3) NOT NULL,
	[XEPER_CODIGO] [char](8) NOT NULL,
	[XEOXP_FECASI] [datetime] NOT NULL,
	[XEOXP_FECRET] [datetime] NULL,
 CONSTRAINT [PK_XEOXP_OPCPE] PRIMARY KEY CLUSTERED 
(
	[XEOPC_CODIGO] ASC,
	[XEPER_CODIGO] ASC,
	[XEOXP_FECASI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[XEPER_PERFI] Fecha de script: 06/06/2026 16:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XEPER_PERFI](
	[XEPER_CODIGO] [char](8) NOT NULL,
	[XEPER_DESCRI] [varchar](100) NOT NULL,
	[XEPER_OBSER] [varchar](max) NULL,
 CONSTRAINT [PK_XEPER_PERFI] PRIMARY KEY CLUSTERED 
(
	[XEPER_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[XESIS_SISTE] Fecha de script: 06/06/2026 16:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XESIS_SISTE](
	[XESIS_CODIGO] [char](1) NOT NULL,
	[XESIS_DESCRI] [varchar](50) NOT NULL,
 CONSTRAINT [PK_XESIS_SISTE] PRIMARY KEY CLUSTERED 
(
	[XESIS_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[XEUSU_RECUPERACION] Fecha de script: 06/06/2026 16:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XEUSU_RECUPERACION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TOKEN] [varchar](200) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[FECHA_EXPIRACION] [datetime] NOT NULL,
	[UTILIZADO] [bit] NOT NULL,
	[XEUSU_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[XEUSU_USUAR] Fecha de script: 06/06/2026 16:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XEUSU_USUAR](
	[XEUSU_PASWD] [varchar](255) NOT NULL,
	[XEEST_CODIGO] [char](1) NOT NULL,
	[PEEMP_CODIGO] [char](6) NOT NULL,
	[XEUSU_FECCRE] [datetime] NOT NULL,
	[XEUSU_FECMOD] [datetime] NOT NULL,
	[XEUSU_PIEFIR] [varchar](100) NOT NULL,
	[XEUSU_LOGIN] [varchar](50) NOT NULL,
	[XEUSU_EMAIL] [varchar](100) NOT NULL,
	[XEUSU_PRIMER_INGRESO] [bit] NOT NULL,
	[XEUSU_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_XEUSU_USUAR_ID] PRIMARY KEY CLUSTERED 
(
	[XEUSU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_XEUSU_EMAIL] UNIQUE NONCLUSTERED 
(
	[XEUSU_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_XEUSU_LOGIN] UNIQUE NONCLUSTERED 
(
	[XEUSU_LOGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[XEUXP_USUPE] Fecha de script: 06/06/2026 16:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XEUXP_USUPE](
	[XEPER_CODIGO] [char](8) NOT NULL,
	[XEUXP_FECASI] [datetime] NOT NULL,
	[XEUXP_FECRET] [datetime] NULL,
	[XEUSU_ID] [int] NOT NULL,
	[XEUXP_ID] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_XEUXP_USUPE] PRIMARY KEY CLUSTERED 
(
	[XEUXP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [DEPAR_PROYECT_FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [DEPAR_PROYECT_FK] ON [dbo].[GEPRY_PROYEC]
(
	[PEDEP_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [GR_GEPRY_PEEMP_FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [GR_GEPRY_PEEMP_FK] ON [dbo].[GR_GEPRY_PEEMP]
(
	[PEEMP_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [GR_GEPRY_PEEMP2_FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [GR_GEPRY_PEEMP2_FK] ON [dbo].[GR_GEPRY_PEEMP]
(
	[GEPRY_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [PR_PEDEP_PECAR_FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [PR_PEDEP_PECAR_FK] ON [dbo].[PECAR_CARGO]
(
	[PEDEP_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [PR_PECAR_PEEMP__FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [PR_PECAR_PEEMP__FK] ON [dbo].[PEEMP_EMPLE]
(
	[PEDEP_CODIGO] ASC,
	[PECAR_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [PR_PEEMP_PEEMP_FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [PR_PEEMP_PEEMP_FK] ON [dbo].[PEEMP_EMPLE]
(
	[PEE_PEEMP_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [PR_PEESC_PEEMP_FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [PR_PEESC_PEEMP_FK] ON [dbo].[PEEMP_EMPLE]
(
	[PEESC_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [PR_PESEX_PEEMP_FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [PR_PESEX_PEEMP_FK] ON [dbo].[PEEMP_EMPLE]
(
	[PESEX_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [PR_PEEMP_PEFAE_FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [PR_PEEMP_PEFAE_FK] ON [dbo].[PEFAE_FAMILIAR]
(
	[PEEMP_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [RELATIONSHIP_21_FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_21_FK] ON [dbo].[PEHRT_HORAS]
(
	[PEEMP_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [RELATIONSHIP_19_FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_19_FK] ON [dbo].[RELATIONSHIP_19]
(
	[PEDEP_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [RELATIONSHIP_20_FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_20_FK] ON [dbo].[RELATIONSHIP_19]
(
	[PEEMP_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [XR_XESIS_XEOPC_FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [XR_XESIS_XEOPC_FK] ON [dbo].[XEOPC_OPCIO]
(
	[XESIS_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [XR_XEOPC_XEOXP_FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [XR_XEOPC_XEOXP_FK] ON [dbo].[XEOXP_OPCPE]
(
	[XEOPC_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [XR_XEPER_XEOXP_FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [XR_XEPER_XEOXP_FK] ON [dbo].[XEOXP_OPCPE]
(
	[XEPER_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [XR_PEEM_XEUSU_FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [XR_PEEM_XEUSU_FK] ON [dbo].[XEUSU_USUAR]
(
	[PEEMP_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [XR_XEEST_XEUSU_FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [XR_XEEST_XEUSU_FK] ON [dbo].[XEUSU_USUAR]
(
	[XEEST_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [XR_XEPER_XEUXP_FK] Fecha de script: 06/06/2026 16:13:41 ******/
CREATE NONCLUSTERED INDEX [XR_XEPER_XEUXP_FK] ON [dbo].[XEUXP_USUPE]
(
	[XEPER_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RELATIONSHIP_19] ADD  DEFAULT (getdate()) FOR [FECHA_INICIO_DIRECCION]
GO
ALTER TABLE [dbo].[XEUSU_RECUPERACION] ADD  DEFAULT ((0)) FOR [UTILIZADO]
GO
ALTER TABLE [dbo].[XEUSU_USUAR] ADD  CONSTRAINT [DF_XEUSU_FECCRE]  DEFAULT (getdate()) FOR [XEUSU_FECCRE]
GO
ALTER TABLE [dbo].[XEUSU_USUAR] ADD  CONSTRAINT [DF_XEUSU_FECMOD]  DEFAULT (getdate()) FOR [XEUSU_FECMOD]
GO
ALTER TABLE [dbo].[XEUSU_USUAR] ADD  DEFAULT ((1)) FOR [XEUSU_PRIMER_INGRESO]
GO
ALTER TABLE [dbo].[GEPRY_PROYEC]  WITH CHECK ADD  CONSTRAINT [FK_GEPRY_PR_DEPAR_PRO_PEDEP_DE] FOREIGN KEY([PEDEP_CODIGO])
REFERENCES [dbo].[PEDEP_DEPAR] ([PEDEP_CODIGO])
GO
ALTER TABLE [dbo].[GEPRY_PROYEC] CHECK CONSTRAINT [FK_GEPRY_PR_DEPAR_PRO_PEDEP_DE]
GO
ALTER TABLE [dbo].[GR_GEPRY_PEEMP]  WITH CHECK ADD  CONSTRAINT [FK_GR_GEPRY_GR_GEPRY__GEPRY_PR] FOREIGN KEY([GEPRY_CODIGO])
REFERENCES [dbo].[GEPRY_PROYEC] ([GEPRY_CODIGO])
GO
ALTER TABLE [dbo].[GR_GEPRY_PEEMP] CHECK CONSTRAINT [FK_GR_GEPRY_GR_GEPRY__GEPRY_PR]
GO
ALTER TABLE [dbo].[GR_GEPRY_PEEMP]  WITH CHECK ADD  CONSTRAINT [FK_GR_GEPRY_GR_GEPRY__PEEMP_EM] FOREIGN KEY([PEEMP_CODIGO])
REFERENCES [dbo].[PEEMP_EMPLE] ([PEEMP_CODIGO])
GO
ALTER TABLE [dbo].[GR_GEPRY_PEEMP] CHECK CONSTRAINT [FK_GR_GEPRY_GR_GEPRY__PEEMP_EM]
GO
ALTER TABLE [dbo].[PECAR_CARGO]  WITH CHECK ADD  CONSTRAINT [FK_PECAR_CA_PR_PEDEP__PEDEP_DE] FOREIGN KEY([PEDEP_CODIGO])
REFERENCES [dbo].[PEDEP_DEPAR] ([PEDEP_CODIGO])
GO
ALTER TABLE [dbo].[PECAR_CARGO] CHECK CONSTRAINT [FK_PECAR_CA_PR_PEDEP__PEDEP_DE]
GO
ALTER TABLE [dbo].[PEEMP_EMPLE]  WITH CHECK ADD  CONSTRAINT [FK_PEEMP_EM_PR_PECAR__PECAR_CA] FOREIGN KEY([PEDEP_CODIGO], [PECAR_CODIGO])
REFERENCES [dbo].[PECAR_CARGO] ([PEDEP_CODIGO], [PECAR_CODIGO])
GO
ALTER TABLE [dbo].[PEEMP_EMPLE] CHECK CONSTRAINT [FK_PEEMP_EM_PR_PECAR__PECAR_CA]
GO
ALTER TABLE [dbo].[PEEMP_EMPLE]  WITH CHECK ADD  CONSTRAINT [FK_PEEMP_EM_PR_PEEMP__PEEMP_EM] FOREIGN KEY([PEE_PEEMP_CODIGO])
REFERENCES [dbo].[PEEMP_EMPLE] ([PEEMP_CODIGO])
GO
ALTER TABLE [dbo].[PEEMP_EMPLE] CHECK CONSTRAINT [FK_PEEMP_EM_PR_PEEMP__PEEMP_EM]
GO
ALTER TABLE [dbo].[PEEMP_EMPLE]  WITH CHECK ADD  CONSTRAINT [FK_PEEMP_EM_PR_PEESC__PEESC_ES] FOREIGN KEY([PEESC_CODIGO])
REFERENCES [dbo].[PEESC_ESTCIV] ([PEESC_CODIGO])
GO
ALTER TABLE [dbo].[PEEMP_EMPLE] CHECK CONSTRAINT [FK_PEEMP_EM_PR_PEESC__PEESC_ES]
GO
ALTER TABLE [dbo].[PEEMP_EMPLE]  WITH CHECK ADD  CONSTRAINT [FK_PEEMP_EM_PR_PESEX__PESEX_SE] FOREIGN KEY([PESEX_CODIGO])
REFERENCES [dbo].[PESEX_SEXO] ([PESEX_CODIGO])
GO
ALTER TABLE [dbo].[PEEMP_EMPLE] CHECK CONSTRAINT [FK_PEEMP_EM_PR_PESEX__PESEX_SE]
GO
ALTER TABLE [dbo].[PEFAE_FAMILIAR]  WITH CHECK ADD  CONSTRAINT [FK_PEFAE_FA_PR_PEEMP__PEEMP_EM] FOREIGN KEY([PEEMP_CODIGO])
REFERENCES [dbo].[PEEMP_EMPLE] ([PEEMP_CODIGO])
GO
ALTER TABLE [dbo].[PEFAE_FAMILIAR] CHECK CONSTRAINT [FK_PEFAE_FA_PR_PEEMP__PEEMP_EM]
GO
ALTER TABLE [dbo].[PEHRT_HORAS]  WITH CHECK ADD  CONSTRAINT [FK_PEHRT_HO_RELATIONS_PEEMP_EM] FOREIGN KEY([PEEMP_CODIGO])
REFERENCES [dbo].[PEEMP_EMPLE] ([PEEMP_CODIGO])
GO
ALTER TABLE [dbo].[PEHRT_HORAS] CHECK CONSTRAINT [FK_PEHRT_HO_RELATIONS_PEEMP_EM]
GO
ALTER TABLE [dbo].[RELATIONSHIP_19]  WITH CHECK ADD  CONSTRAINT [FK_RELATION_RELATIONS_PEDEP_DE] FOREIGN KEY([PEDEP_CODIGO])
REFERENCES [dbo].[PEDEP_DEPAR] ([PEDEP_CODIGO])
GO
ALTER TABLE [dbo].[RELATIONSHIP_19] CHECK CONSTRAINT [FK_RELATION_RELATIONS_PEDEP_DE]
GO
ALTER TABLE [dbo].[RELATIONSHIP_19]  WITH CHECK ADD  CONSTRAINT [FK_RELATION_RELATIONS_PEEMP_EM] FOREIGN KEY([PEEMP_CODIGO])
REFERENCES [dbo].[PEEMP_EMPLE] ([PEEMP_CODIGO])
GO
ALTER TABLE [dbo].[RELATIONSHIP_19] CHECK CONSTRAINT [FK_RELATION_RELATIONS_PEEMP_EM]
GO
ALTER TABLE [dbo].[XEOPC_OPCIO]  WITH CHECK ADD  CONSTRAINT [FK_XEOPC_OP_XR_XESIS__XESIS_SI] FOREIGN KEY([XESIS_CODIGO])
REFERENCES [dbo].[XESIS_SISTE] ([XESIS_CODIGO])
GO
ALTER TABLE [dbo].[XEOPC_OPCIO] CHECK CONSTRAINT [FK_XEOPC_OP_XR_XESIS__XESIS_SI]
GO
ALTER TABLE [dbo].[XEOXP_OPCPE]  WITH CHECK ADD  CONSTRAINT [FK_XEOXP_OP_XR_XEOPC__XEOPC_OP] FOREIGN KEY([XEOPC_CODIGO])
REFERENCES [dbo].[XEOPC_OPCIO] ([XEOPC_CODIGO])
GO
ALTER TABLE [dbo].[XEOXP_OPCPE] CHECK CONSTRAINT [FK_XEOXP_OP_XR_XEOPC__XEOPC_OP]
GO
ALTER TABLE [dbo].[XEOXP_OPCPE]  WITH CHECK ADD  CONSTRAINT [FK_XEOXP_OP_XR_XEPER__XEPER_PE] FOREIGN KEY([XEPER_CODIGO])
REFERENCES [dbo].[XEPER_PERFI] ([XEPER_CODIGO])
GO
ALTER TABLE [dbo].[XEOXP_OPCPE] CHECK CONSTRAINT [FK_XEOXP_OP_XR_XEPER__XEPER_PE]
GO
ALTER TABLE [dbo].[XEUSU_RECUPERACION]  WITH CHECK ADD  CONSTRAINT [FK_XEUSU_RECUPERACION_USUARIO] FOREIGN KEY([XEUSU_ID])
REFERENCES [dbo].[XEUSU_USUAR] ([XEUSU_ID])
GO
ALTER TABLE [dbo].[XEUSU_RECUPERACION] CHECK CONSTRAINT [FK_XEUSU_RECUPERACION_USUARIO]
GO
ALTER TABLE [dbo].[XEUSU_USUAR]  WITH CHECK ADD  CONSTRAINT [FK_XEUSU_US_XR_PEEM_X_PEEMP_EM] FOREIGN KEY([PEEMP_CODIGO])
REFERENCES [dbo].[PEEMP_EMPLE] ([PEEMP_CODIGO])
GO
ALTER TABLE [dbo].[XEUSU_USUAR] CHECK CONSTRAINT [FK_XEUSU_US_XR_PEEM_X_PEEMP_EM]
GO
ALTER TABLE [dbo].[XEUSU_USUAR]  WITH CHECK ADD  CONSTRAINT [FK_XEUSU_US_XR_XEEST__XEEST_ES] FOREIGN KEY([XEEST_CODIGO])
REFERENCES [dbo].[XEEST_ESTAD] ([XEEST_CODIGO])
GO
ALTER TABLE [dbo].[XEUSU_USUAR] CHECK CONSTRAINT [FK_XEUSU_US_XR_XEEST__XEEST_ES]
GO
ALTER TABLE [dbo].[XEUXP_USUPE]  WITH CHECK ADD  CONSTRAINT [FK_XEUXP_US_XR_XEPER__XEPER_PE] FOREIGN KEY([XEPER_CODIGO])
REFERENCES [dbo].[XEPER_PERFI] ([XEPER_CODIGO])
GO
ALTER TABLE [dbo].[XEUXP_USUPE] CHECK CONSTRAINT [FK_XEUXP_US_XR_XEPER__XEPER_PE]
GO
ALTER TABLE [dbo].[XEUXP_USUPE]  WITH CHECK ADD  CONSTRAINT [FK_XEUXP_USUARIO] FOREIGN KEY([XEUSU_ID])
REFERENCES [dbo].[XEUSU_USUAR] ([XEUSU_ID])
GO
ALTER TABLE [dbo].[XEUXP_USUPE] CHECK CONSTRAINT [FK_XEUXP_USUARIO]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Relación entre las tablas GEPRY_PROYEC y  PEEMP_EMPLE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GR_GEPRY_PEEMP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entidad utilizada para la gestión de los diferentes CARGOSque pertenece a un DEPARTAMENTO de una EMPRESA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PECAR_CARGO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entidad utilizada para realizar la gestión de los diferentes DEPARTAMENTOS de una EMPRESA
   ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PEDEP_DEPAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entidad para realizar la gestion de empleados
   
   ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PEEMP_EMPLE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entidad utilizada para realizar la gestión del ESTADO CIVIL
   ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PEESC_ESTCIV'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entidad utilizada para realizar la gestión del SEXO o GËNERO de una PERSONA
   ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PESEX_SEXO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entidad utilizada para gestionar el estado de las difetrentes tablas' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XEEST_ESTAD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entidad utilizada para realizar el registro de las diferentes opciones de un sistema' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XEOPC_OPCIO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entidad utilizada para llevar el registro de las opciones que pertenecen a un perfil' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XEOXP_OPCPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entidad utilizada para realizar la gestión de los diferentes perfiles' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XEPER_PERFI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entidad utilizada para realziar la gestión de los diferentes subsistemas' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XESIS_SISTE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entidad relacionada para gentionar los usuario que ingrsan al sistema' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XEUSU_USUAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entidad utilizada para realizar el registro de los diferentes usuarios que pertenecen a un perfil' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'XEUXP_USUPE'
GO
USE [master]
GO
